/* medium*/
@font-face {
  font-family: "TTNormsProMedium";
  src: url("/fonts/TTNormsPro-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

/*regular*/
@font-face {
  font-family: "TTNormsProRegular";
  src: url("/fonts/TTNormsPro-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

/*light*/
@font-face {
  font-family: "TTNormsProLight";
  src: url("/fonts/TTNormsPro-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}
